body {
  font-family: "Inter", sans-serif;
  background-color: #d4bebe;
}

nav {
  background-color: #a09abc;
  text-align: center;
}

.menu {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.servicos-intro {
    text-align: center;
}

.menu li {
  position: relative;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #b6a6ca;
}

.column {
    position: relative;
    text-align: center;
    background-color: #a09abc;
    border-radius: 20px;
}

.container {
    line-height: -200px;
}
.submenu {
  display: none;
  position: absolute;
  background-color: #a09abc;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu li:hover .submenu {
  display: block;
}

.submenu li a {
  padding: 10px 15p;
}

.submenu li a:hover {
  background-color: #b6a6ca;
}
